# Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/menstylehouse?schema=public"

# Auth (M2)
AUTH_SECRET="doi-chuoi-nay-bang-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# VNPay sandbox (M5)
VNPAY_TMN_CODE=""
VNPAY_HASH_SECRET=""
VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNPAY_RETURN_URL="http://localhost:3000/thanh-toan/vnpay/ket-qua"

# GHN (M7)
GHN_TOKEN=""
GHN_SHOP_ID=""
